html{
	font-family: candara;
    background-image: url("bg1.jpg");
    color: white;
}
head{
	margin-left: 70%;
}
.total{
	margin: 5%;
	display: grid;
	grid-row-gap: 2em ;
	align-self: center;
}

input[type=text], input[type=email],input[type=phonenumber],input[type=address],input[type="number"] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 10px 0; 
  display: inline-block;
  border-radius: 12px;
  background: #f1f1f1;
}

form{
  display: grid;	
  grid-template-columns: 45% 45%;
  grid-column-gap: 3em;
}

input[type=checkbox]
{ margin: 15px;
  -ms-transform: scale(2); 
  -moz-transform: scale(2);
  -webkit-transform: scale(2); 
  -o-transform: scale(2);
  padding: 10px;
}

.tab {
  overflow: hidden;
  width:93%;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabcontent {
	width: 91%;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  
  font-family: candara;
  font-size: 20px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button {
  background-color: #c69900;
  color: black;
}

.tab button:hover{
	background-color: #A9A9A9;
	color: black;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color:#900020 ;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}	
.number{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 3em;
}

.big_button{
	align-self: center;
}

.big{
  margin-left: 40%;
  background-color: #EE9A4D;
  font-family: candara;
  font-size: 20px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;

}